/* CSS Document */

#intro-01 {

	position:absolute;

	left:121px;

	top:161px;

	width:134px;

	height:144px;

}



#intro-02 {

	position:absolute;

	left:255px;

	top:161px;

	width:233px;

	height:144px;

}



#intro-03 {

	position:absolute;

	left:488px;

	top:161px;

	width:233px;

	height:144px;

}



#intro-04 {

	position:absolute;

	left:96px;

	top:305px;

	width:159px;

	height:143px;

}



#intro-05 {

	position:absolute;

	left:255px;

	top:305px;

	width:233px;

	height:143px;

}



#intro-06 {

	position:absolute;

	left:488px;

	top:305px;

	width:233px;

	height:143px;

}



#intro-07 {

	position:absolute;

	left:52px;

	top:448px;

	width:203px;

	height:144px;

}



#intro-08 {

	position:absolute;

	left:255px;

	top:448px;

	width:233px;

	height:144px;

}



#intro-09 {

	position:absolute;

	left:488px;

	top:448px;

	width:221px;

	height:144px;

}



#imgSlice-22 {

	position:absolute;

	left:709px;

	top:448px;

	width:12px;

	height:287px;

}



#intro-10 {

	position:absolute;

	left:22px;

	top:592px;

	width:233px;

	height:143px;

}



#intro-11 {

	position:absolute;

	left:255px;

	top:592px;

	width:233px;

	height:117px;

}



#intro-12 {

	position:absolute;

	left:488px;

	top:592px;

	width:133px;

	height:57px;

}

