/* CSS Document */

#longboards-11 {

	position:absolute;

	left:530px;

	top:231px;

	width:191px;

	height:74px;

}



#longboards-12 {

	position:absolute;

	left:352px;

	top:275px;

	width:178px;

	height:30px;

}



#longboards-01 {

	position:absolute;

	left:0px;

	top:305px;

	width:265px;

	height:250px;

}



#longboards-02 {

	position:absolute;

	left:265px;

	top:305px;

	width:265px;

	height:250px;

}



#longboards-03 {

	position:absolute;

	left:530px;

	top:305px;

	width:265px;

	height:250px;

}



#longboards-04 {

	position:absolute;

	left:0px;

	top:555px;

	width:265px;

	height:251px;

}



#longboards-05 {

	position:absolute;

	left:265px;

	top:555px;

	width:265px;

	height:251px;

}



#longboards-06 {

	position:absolute;

	left:530px;

	top:555px;

	width:265px;

	height:251px;

}



#longboards-07 {

	position:absolute;

	left:0px;

	top:806px;

	width:265px;

	height:250px;

}



#longboards-08 {

	position:absolute;

	left:265px;

	top:806px;

	width:265px;

	height:250px;

}



#longboards-09 {

	position:absolute;

	left:530px;

	top:806px;

	width:265px;

	height:250px;

}



#longboards-10 {

	position:absolute;

	left:0px;

	top:1056px;

	width:133px;

	height:23px;

}



#ourboards {

	position:absolute;

	left:536px;

	top:1078px;

	width:207px;

	height:18px;

}



#ourboards-long-boardtype {

	position:absolute;

	left:551px;

	top:1096px;

	width:170px;

	height:16px;

}



#ourboards-long-pagenumber {

	position:absolute;

	left:551px;

	top:1112px;

	width:121px;

	height:16px;

}

#ourboards-long-footernav-bg {

	position:absolute;

	left:536px;

	top:1078px;

	width:207px;

	height:68px;

}

#lyr1 {

	position:absolute;

	visibility:hidden;

	left:130px;

	top:900px;

	width:400px;

	background-color: #FFFFFF;

	text-align: center;

	text-indent: 10pt;

	border: medium dashed #000000;



}

#lyr2 {

position:absolute; 

visibility:hidden; 

	left:130px;

	top:900px;

	width:400px;

	background-color: #FFFFFF;

	text-align: center;

	text-indent: 10pt;

	border: medium dashed #000000;

}

#lyr3 {

position:absolute; 

visibility:hidden; 

	left:130px;

	top:900px;

	width:400px;

	background-color: #FFFFFF;

	text-align: center;

	text-indent: 10pt;

	border: medium dashed #000000;

}

