/* CSS Document */

#codshortboard-text {

	position:absolute;

	left:286px;

	top:189px;

	width:518px;

	height:156px;

}



#performance-01 {

	position:absolute;

	left:0px;

	top:342px;

	width:258px;

	height:212px;

}



#performance-02 {

	position:absolute;

	left:258px;

	top:342px;

	width:257px;

	height:212px;

}



#performance-03 {

	position:absolute;

	left:515px;

	top:342px;

	width:258px;

	height:212px;

}



#performance-04 {

	position:absolute;

	left:0px;

	top:554px;

	width:258px;

	height:211px;

}



#performance-05 {

	position:absolute;

	left:258px;

	top:554px;

	width:257px;

	height:211px;

}



#performance-06 {

	position:absolute;

	left:515px;

	top:554px;

	width:258px;

	height:211px;

}



#performance-07 {

	position:absolute;

	left:0px;

	top:765px;

	width:220px;

	height:212px;

}



#performance-08 {

	position:absolute;

	left:258px;

	top:765px;

	width:257px;

	height:212px;

}



#performance-09 {

	position:absolute;

	left:515px;

	top:765px;

	width:258px;

	height:212px;

}



#funboard-text {

	position:absolute;

	left:258px;

	top:985px;

	width:516px;

	height:157px;

}

